/* General Styles */

.bg {
  height: 100vh;
  padding: 50px;
  overflow: hidden;
}

.heading {
  text-transform: uppercase;
}

.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
}

.theme-binary.light .heading {
  color: #222;
  transition: color 0.333s ease-out;
}

.theme-binary.dark .heading {
  color: #fff;
  transition: color 0.333s ease-out;
}

.theme-binary.light .para {
  color: #222;
  transition: color 0.333s ease-out;
}

.theme-binary.dark .para {
  color: #fff;
  transition: color 0.333s ease-out;
}

.theme-binary.light .bg {
  background-color: #fff;
  transition: background-color 0.333s ease-out;
}

.theme-binary.dark .bg {
  background-color: #222;
  transition: background-color 0.333s ease-out;
}

.para {
  width: 70vw;
}

/* Light Mode Styles */

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.333s ease-out, color 0.333s ease-out;
}

/* Dark Mode Styles */

.btn-dark {
  background-color: #fff;
  color: #222;
  transition: background-color 0.333s ease-out, color 0.333s ease-out;
}